# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/

# Build outputs
build/

# iOS/Xcode
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig

# Android/Gradle
.gradle/
android/.gradle/
android/captures/
android/app/debug
android/app/profile
android/app/release

# Web
lib/generated_plugin_registrant.dart

# Linux
linux/flutter/
!linux/flutter/CMakeLists.txt  # mantiene solo el archivo principal del CMake

# macOS
macos/Flutter/
!macos/Flutter/ephemeral/Runner

# Windows
windows/flutter/
!windows/flutter/CMakeLists.txt  # mantiene solo el archivo principal del CMake

# IntelliJ/VSCode
.idea/
.vscode/
*.iml

# Logs
*.log

# Misc
.ios/
.flutter-plugins
.flutter-plugins-dependencies
